.bg{
    background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg");
    width: 100vw;
    height:  40vh;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    color:  white;
    margin: 15px;

}
.buttons{
    display: flex;
    flex-direction: row;

}


.but1 {
    background-color: yellow;
    color: white;
    margin-right: 10px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.but1:hover {
    background-color: #2980b9;
}

.but2 {
    background-color: #95a5a6;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.but2:hover {
    background-color: #7f8c8d;
}
