.bg{
    background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg");
    width: 100vw;
    height:  40vh;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    color:  white;
    margin: 15px;

}
.buttons{
    display: flex;
    flex-direction: row;

}
.but1{
    background-color: yellow;
    color: white;
    margin-right:  10px;
    height: 50px;
    width: 80px;
    border-radius: 20px;


}
.but2{
    background-color: grey;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 80px;
}